body {
	font-family: 'Lato', sans-serif;
}
h1{
    text-align: center;
}
#quiz {
	margin-left: 400px;
	background: #6e6c6c;
	padding: 10px 20px 10px 20px;
	width: 500px;
	border-radius: 20px;
	float: left;
	font-size: 0.98;
}
input {
	margin-bottom: 20px;
	display: block;
}
#textbox {
	height: 25px;
	font-size: 16px;
	border-radius: 5px;
	border: none;
	padding-left: 5px;
}
#button {
	background: green;
	border: none;
	border-radius: 5px;
	padding: 10px;
	color: white;
	font-size: 16px;
	transition-duration: .5s;
	margin-top: 15px;
}
#button:hover {
    
	background: white;
	border: 2px solid rgb(238, 241, 238) center;
	color: black;
	cursor: pointer;
}
#after_submit {
	visibility: hidden;
	background: #e4dfdf;
	padding: 10px 20px 10px 20px;
	width: 350px;
	border-radius: 20px;
	float: left;
	margin-left: 50px;
	font-size: 30px;
}
#mc {
	display: inline;
} 